<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <div class="login-card">
        <h2>登入</h2>
        <h3>請輸入您的帳號密碼</h3>
        <form class="login-form" id="login-form">
            <input type="text" placeholder="帳號" id="username" required />
            <input type="password" placeholder="密碼" id="password" required />
            <button type="submit">登入</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>

